@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scroll-behavior: smooth;
}

@font-face {
    font-family: "satochi-text";
    src: url(./fonts/Satoshi-Regular.otf) format("opentype");
}

@font-face {
    font-family: "satochi-title";
    src: url("./fonts/Satoshi-Black.otf") format("opentype");
}

@font-face {
    font-family: "text-footer";
    src: url("./fonts/DancingScript-Regular.otf") format("opentype");
}

p{
    font-family: "satochi-text";
}

h1 {
    font-family: "satochi-title";
}

.text-footer{
    font-family: "text-footer";
}

html, nav, footer {
    background-color: rgb(247, 244, 233);
}

.text-beige {
    color: rgb(247, 244, 233);
}

.marianne{
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    filter: blur(3px);
}

.marianne:hover{
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    filter: blur(3px);
}